@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Raleway:ital,wght@0,400;0,600;1,400&display=swap');

body{
    margin: 0px;
}

.header-style{
    margin-bottom: 40px;
    display: block;
    /*box-sizing: border-box;*/
}

.header-container{
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /*box-sizing: border-box;*/
}

.logo-main{
    margin-top: 85px;
    text-align: center;
}

.nav-menu{
    font-family: 'Raleway', sans-serif;
    margin-top: 32px;
    position: relative;
    text-align: center;
    display: block;
}

.nav-menu a{
    max-width: 1200px;
    text-decoration: none;
    color: #7a7a7a;
    padding: 13px 38px;
    display: inline-block;
    font-size: 12px;
    position: relative;
    letter-spacing: 2px;
    font-weight: 500;
}

.nav-menu a::after{
    display: block;
    content: '';
    height: 2px;
    background-color: #dfdfdf;
    width: 37px;
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.fa-sort-down:before {
    color: #7a7a7a;
    font-size: 14px;
    text-align: center;
}

.page-container{
    position: relative;
    padding-top: 1px;
    font-family: 'Raleway', sans-serif;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.home-body-title-container{
    text-align: center;
    margin-bottom: 50.6px;
    margin-left: -15px;
    margin-right: -15px;
}

.home-body-title{
    color: #252525;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 2px;
}

.title-line{
    margin: 0px auto;
    width: 40px;
    height: 1px;
    background-color: #252525;
}

.spacing-div{
    margin-bottom: 105px;
}

.first-text{
    max-width: 770px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
}

.second-title{
    color: #252525;
    position: relative;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    letter-spacing: 3px;
    margin-top: 140px;
    margin-bottom: 5px;
}

.second-home-container{
    width: 1215px;
    margin-bottom: 100px;
}

.home-img-one{
    margin-top: 30px;
    max-width: 370px;
    position: relative;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.home-img{
    width: 100%;
    margin: 5px 20px 10px 0px;
}

.third-home-container{
    margin-bottom: 190px;
}

.third-title{
    color: #252525;
    position: relative;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.second-text{
    margin-top: 30px;
    max-width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
}

.forth-fifth-title{
    color: #252525;
    position: relative;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    letter-spacing: 3px;
    margin-bottom: 5px;
    margin-top: 60px;
}

.lostudio-img{
    margin-bottom: 133.55px;
}

.text-one{
    max-width: 400px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
}

.text-one-int{
    max-width: 100%;
}

.text-one-box{
    max-width: 370px;
    min-height: 374px;
    padding: 25px;
    margin-bottom: 35px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
}

.box-title{
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid #252525;
    font-size: 12px;
    color: #252525;
    letter-spacing: 2px;
    padding-bottom: 7px;
    margin: 5px 0 0 0;
}

.text-one-p-one{
    color: #7a7a7a;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
    margin-top: 30px;
}

.text-one-p-one p{
    margin-bottom: 10px;
    min-height: 174px;
    margin-top: 0px;
}

.footer-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.footer-line-one{
    max-width: 1170px;
    height: 1px;
    background-color: #252525;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

.social-logo{
    margin-left: 20px;
}

.footer-text{
    position: absolute;
    top: 2650px;
    text-align: center;
    width: 1170px;
    font-family: 'Playfair Display', serif;
    color: #7a7a7a;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
}

.footer-text-link{
    position: absolute;
    top: 2674px;
    text-align: center;
    width: 1170px;
    font-family: 'Playfair Display', serif;
    color: #7a7a7a;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
}

.footer-text-link a{
    color: #5ed9e7;
}

.footer-buttons{
    text-align: right;
    max-width: 1170px;
    font-size: 15px;
    line-height: 26px;
}

.footer-button-a{
    text-decoration: none;
    padding: 2px 4px 2px 20px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 12px;
    color: #413f3f;
}

.footer-button-b{
    text-decoration: none;
    padding: 2px 4px 2px 4px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 12px;
    color: #413f3f;
}

footer{
    display: block;
}

div{
    display: block;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}